VITE_API_BASE_URL = http://localhost:3000
VITE_APP_ORIGIN = http://localhost:8080
VITE_KEYCLOAK_URL = http://localhost:8080
VITE_KEYCLOAK_REALM = career-compass-realm
VITE_KEYCLOAK_CLIENT_ID = web-app
VITE_START_YEAR=1992
VITE_FUTURE_YEAR_LIMIT=1
VITE_SUPPORT_EMAIL = admin@realestate.in
VITE_SUPPORT_PHONE = +91 98765 43210
VITE_AUTH_DEV_MODE = false
